snippet sw "switch() .. case .. case .. case .. case"
switch(${1:${VISUAL/^\s*//}}) {

	case ${2}:
		${3}
		${4:break;}

	case ${5}:
		${6}
		${7:break;}

	case ${8}:
		${9}
		${10:break;}

	default:
		${11}

}
${0}
endsnippet

snippet case "case : "
case ${1}:
	${2:${VISUAL/^\s*//}}
	${0:break;}
endsnippet

# Let the cpp Inc snippet overwrite this one
priority -1

snippet Inc "#include <>"
#include <${1}.h>
endsnippet
